body {
    background-image: url("assets/background.png");
    background-repeat: repeat;
    background-size: 750px 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
}

.logo {
    display: block;
    max-width: 100%;
}